<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-16 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">HISTORIAL DE VIAJES REALIZADOS POR {{nombreUsr}}</h3>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                        <th>ID</th>
                        <th>Viaje</th>
                        <th>Periodo</th>
                        <th>Detalles</th>
                        <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let soli of solicitudes">
                          <td>{{ soli.id }}</td>
                        <td>
                          <tr>Tipo: {{ soli.tipo }}</tr>
                          <tr>Destino: {{ soli.destino }}</tr>
                          <tr>Motivo: {{ soli.motivo }}</tr>
                        </td>
                        
                        <td>
                          <tr>Inicio: {{ soli.inicio }}</tr>
                          <tr>Fin: {{ soli.fin }}</tr>
                        </td>
                        <td>
                          <tr>Aerolínea: {{soli.aerolinea}}</tr>
                          <tr>Alojamiento: {{soli.alojamiento}}</tr>
                          <tr>Boletos: ${{soli.precio}}</tr>
                          <tr>Transporte: {{soli.transporte}}</tr>
                        </td>   
                        <td>{{ soli.estado }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>