<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-16 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">HISTORIAL DE VIAJES REALIZADOS</h3>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Puesto</th>
                          <th>Departamento</th>
                          <th>Tipo</th>
                          <th>Destino</th>
                          <th>Motivo</th>
                          <th>Inicio</th>
                          <th>Fin</th>
                          <th>Aerolínea</th>
                          <th>Precio</th>
                          <th>Alojamiento</th>
                          <th>transporte</th>
                          <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Samso Park</td>
                          <td>34424433</td>
                          <td>12 May 2017</td>
                          <td><label class="badge badge-danger">Pending</label></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>