<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" routerLink="solicitudes-pendientes" >Solicitudes Pendientes <span class="visually-hidden">(current)</span></a>
    <a class="nav-item nav-link" routerLink ="viajes-programados" >Viajes Programados</a>
    <a class="nav-item nav-link" routerLink="viajes-internacionales" >Viajes Internacionales</a>
    <a class="nav-item nav-link" routerLink ="destinos" >Destinos</a>
  </div>
</nav>

<div class="container">
  Contenido
  <router-outlet></router-outlet>

</div>