<div id="wrapper">
    <div class="overlay"></div>
     <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <div class="sidebar-header">
            <div class="sidebar-brand" style="color: aliceblue;">{{nombre}}</div>
        </div>
        <li *ngIf="mostrarColabBtn"><a href="/register">Registro de viajes</a></li>
        <li *ngIf="mostrarColabBtn"><a href="/modify">Modificar Solicitud</a></li>
        <li *ngIf="mostrarColabBtn"><a href="/history">Historial de Solicitudes</a></li>
        <li *ngIf="mostrarAdminBtn"><a href="/valoration">Valorar Solicitudes</a></li>
        <li *ngIf="mostrarAdminBtn"><a href="/programmed">Viajes Programados</a></li>
        <li *ngIf="mostrarAdminBtn"><a href="/international">Viajes Internacionales</a></li>
        <li *ngIf="mostrarAdminBtn"><a href="/destination">Consultar por Destino</a></li>
        <li *ngIf="closeBtn" (click)="cerrarSesion()"><a href="">Cerrar Sesion</a></li>
       </ul>
   </nav> 
         <!-- Page Content -->
         <div id="page-content-wrapper">
             <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                 <span class="hamb-top"></span>
                 <span class="hamb-middle"></span>
                 <span class="hamb-bottom"></span>
             </button>
             
             <div class="container">
                <!-- /#page routing -->
                <router-outlet></router-outlet>
             </div>
         </div>
     </div>